$color-white:#ffffff;
$color-transparent-white:#ffffffb8;
$color-transparent-grey:#ffffff42;
$color-red:#ff0000;
$color-green:#008040;
$color-orange:#dd7940;
$color-black:#000000;
$color-light-blue:rgb(23,131,179);
$color-strong-blue:rgb(14, 14, 235);

